venv
*.egg
*.gem
*.swp
*.pyc
*.so
*.pyo
Couchapp.egg-info
couchapp.egg-info
build
dist
setuptools-*
.svn/*
.DS_Store
*.so
distribute-0.6.8-py2.6.egg
distribute-0.6.8.tar.gz
debian/python-couchapp
debian/couchapp
couchapp/autopush/select_backport.so
.coverage
cover/*
